@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    min-height: 100vh;
    font-weight: 500;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    border: 1px solid;
    border-radius: 0 0 20px 20px;
    background-color: #efefd0;
    box-shadow: 0 1px 3px #000000;
    position: fixed;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;

}

h1 {
    display: flex;
    align-items: center;
    text-align: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #004e89;
}

nav {
    display: flex;
}

#menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-weight: 600;
}

#menu li {
    padding: 20px 10px;
    text-align: center;
}

main {
    background: radial-gradient(circle, #efefd0, #a4cbae, #51a6a2, #007c9d, #004e89);
    padding: 0 0 50px;
}

#generator-section {
    display: flex;
    flex-direction: column;
    padding: 200px 20px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    color: #004e89;
}

.generator-outer-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: fit-content;
    border: none;
    border-radius: 10px;
    background: #004e89;
    box-shadow: 0 0 4px 2px #000000;
    min-width: 50%;
}

.generator-inner-container {
    border: 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #efefd0;
    border: none;
    width: 100%;
}

.generator-inner-container p {
    max-width: 570px;
}

#password-output {
    text-align: center;
    width: 80%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    word-break: break-all;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#generate-button,
#save-button {
    font-weight: bold;
}

input[type='range'],
input[type="checkbox"] {
    accent-color: #004e89;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

form label {
    padding: 10px;
}

.button {
    display: block;
    padding: 10px 20px;
    background-color: #004e89;
    color: #efefd0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #ff6b35;
    color: #000000;
    font-weight: bold;
}

#saved-passwords-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.saved-passwords-container {
    max-width: 80%;
    min-height: 300px;
    padding: 20px;
    background-color: #efefd0;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    word-break: break-all;
    line-height: 25px;
}

.saved-passwords-container h2 {
    margin-bottom: 20px;
}

#saved-passwords {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#saved-passwords div {
    
}

#faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

#faq-section h2 {
    padding: 10px;
    margin-bottom: 40px;
    background-color: #efefd0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#faq-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 800px;
}

.accordion {
    background-color: #efefd0;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .5s;
}

.accordion-body ol {
    margin-left: 25px;
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    padding: 10px;
}

.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #efefd0;
    color: #004e89;
    height: 120px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 3px #000000;
    font-weight: bold;
    position: relative;
    bottom: 0;
}

.social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

@media screen and (min-width: 442px) {
    #generator-section {
        padding-top: 170px;
        min-height: 80vh;
    }
}

@media screen and (min-width: 479px) {
    #menu li {
        padding: 20px 20px;
    }

    #generator-section {
        padding-top: 100px;
    }
}